{{>nav}}

<div id="pagepiling">
<!-- SECCION HOME -->
<div class="home section">
	<div class="cubrir-video">
		<div id="video" data-vide-bg="images/fondo" data-vide-options="position: 0% 50%">
				<div class="home-contenido">
					 <h1 class="border escondido"> Coding Your Mind </h1>

					 <h4 class="escondido"> de tu mente a la web </h4>

					<div class="conocenos escondido">
						<p>CONOCENOS</p>
						<i class="material-icons">keyboard_arrow_down</i>
					</div>
			</div>
		</div>
	</div>

</div>

<!-- SECCION SERVICIOS -->
<div class="servicios section">
		<h1 class="tituloSeccion"> SERVICIOS </h1>
</div>

<!-- SECCION EXPERIENCIA -->

<div class="experiencia section">
				<div class="row">
					<div class="col l6 m6 s12">
						<div class="owl-carousel">

						<div class="exp-slide-item">
							<img src="images/exp1.png" alt="">
						</div>
						<div class="exp-slide-item">
							<img src="images/exp1.png" alt="">
						</div>
						<div class="exp-slide-item">
							<img src="images/exp1.png" alt="">
						</div>

						</div>
					</div>
          <div class="col l6 m6 s12">
                    <h3 class="section-heading">Drag Gallery</h3>
						<div class="sub-title lead3">Lorem ipsum dolor sit atmet sit dolor greand fdanrh<br> sdfs sit atmet sit dolor greand fdanrh sdfs</div>
	                    <p class="lead">
							In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret.
							Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur,
							uam non erat mirum sapientiae lorem cupido
							patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.
						</p>

						 <p><a class="btn btn-embossed btn-primary" href="#" role="button">View Details</a>
						 <a class="btn btn-embossed btn-info" href="#" role="button">Visit Website</a></p>
					</div>
			</div>

</div>

<!-- SECCION CONTACTO -->

<div class="contacto section">
		<h1 class="tituloSeccion"> CONTACTO </h1>
		<hr>

		<div class="container">

			<div class="row">

			  <div class="col s6 contacto-formulario escondido">
					<form action="#">
						<div class="row">
						  <div class="input-field col s6">
							    <input id="nombre" type="text" class="validate">
							    <label for="nombre">Nombre</label>
							</div>
						  <div class="input-field col s6">
							    <input id="email" type="email" class="validate">
							    <label for="email">Email</label>
							</div>
						</div>
						<div class="row">
						  <div class="input-field col s12">
									<input id="tema" type="text" class="validate">
									<label for="tema">Tema</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
							    <textarea id="mensaje" class="materialize-textarea" ></textarea>
							    <label for="mensaje">Mensaje...</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12">
								<a class="waves-effect waves-light btn">
								 	Enviar mensaje
								</a>
							</div>
						</div>

					</form>
				</div>

			  <div class="col s6 contacto-datos escondido">
						<p>En caso de que tengas dudas, inquietudes o algun otro motivo,
							vas a poder contactarte con Coding Your Mind a través de nuestras redes sociales,
							teléfono o mail. Responderemos con gusto y lo antes posible.</p>
							<div class="contacto-telefono">
								<i class="material-icons">phone</i><span>+54 9 298-4862631</span>
							</div>
							<div class="contacto-mail">
								<i class="material-icons">mail_outline</i><span>contacto@codingyourmind.com</span>
							</div>
							<div class="redes-sociales">
								<p> También encontranos en nuestras redes sociales: </p>
								<div class="row">
									<div class="col s2">
										<i class="fa fa-facebook-square escondido" aria-hidden="true" id="ic-facebook"></i>
									</div>
									<div class="col s2">
										<i class="fa fa-instagram escondido" aria-hidden="true" id="ic-instagram"></i>
									</div>
									<div class="col s2">
										<i class="fa fa-linkedin-square escondido" aria-hidden="true" id="ic-linkedin"></i>
									</div>
									<div class="col s2">
										<i class="fa fa-twitter-square escondido" aria-hidden="true" id="ic-twitter"></i>
									</div>
								</div>
							</div>
				</div>

			</div>

		</div>

	</div>
