<style media="screen">
	.post-header {
		background-image: url('{{{cloudinaryUrl data.post.image}}}');
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}
</style>

<div class="post-page">

{{>nav}}
	<div class="post-header">
		<div class="cover">
			<div class="post-header-content center">
				<h3>{{data.post.title}}</h3>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="post-contenido">
			<div class="col-9">
				<div class="container">
					{{{data.post.content.extended}}}
				</div>
			</div>
		</div>
	</div>

</div>
