<!--=====================================
SLIDESHOW
======================================-->

<div class="container-fluid" id="slide">

	<div class="row">

		<!--=====================================
		DIAPOSITIVAS
		======================================-->

		<ul>

			<!-- SLIDE 1 -->

			<li>

				<div class="cielo">
					<div class="stars"></div>
					<div class="twinkling"></div>
					<div class="clouds"></div>
				</div>


				<div class="slideOpciones slideOpcion1">

          <img src="images/slider/cohete.png" alt="" id="cohete" class="entrar">

					<!-- <img class="imgProducto" src="images/slider/slide1.jpg" style="top:15%; right:10%; width:45%"> -->

					<div class="textosSlide">

						<h1 style="color:#333">Lorem Ipsum</h1>

						<h2 style="color:#777">Lorem ipsum dolor sit</h2>

						<h3 style="color:#888">Lorem ipsum dolor sit</h3>

						<a href="#">

							<button class="btn btn-default backColor text-uppercase" id="botonPrueba">

							VER PRODUCTO <span class="fa fa-chevron-right"></span>

							</button>

						</a>

					</div>

				</div>

			</li>

			<!-- SLIDE 2 -->

			<li>

				<img src="images/slider/slide2.jpg">

				<div class="slideOpciones slideOpcion2">

					<!-- <img class="imgProducto" src="images/slider/slide2.jpg" style="top:5%; left:15%; width:25%"> -->

					<div class="textosSlide" style="top:15%; right:15%; width:40%">

						<h1 style="color:#333">Lorem Ipsum</h1>

						<h2 style="color:#777">Lorem ipsum dolor sit</h2>

						<h3 style="color:#888">Lorem ipsum dolor sit</h3>

						<a href="#">

							<button class="btn btn-default backColor text-uppercase">

							VER PRODUCTO <span class="fa fa-chevron-right"></span>

							</button>

						</a>

					</div>

				</div>

			</li>

			<!-- SLIDE 3 -->

			<li>

				<img src="images/slider/slide3.png">

				<div class="slideOpciones slideOpcion2">

					<!-- <img class="imgProducto" src="images/slider/slide3.png" style="top:5%; left:15%; width:25%"> -->

					<div class="textosSlide" style="top:15%; right:15%; width:40%">

						<h1 style="color:#eee">Lorem Ipsum</h1>

						<h2 style="color:#ccc">Lorem ipsum dolor sit</h2>

						<h3 style="color:#aaa">Lorem ipsum dolor sit</h3>

						<a href="#">

							<button class="btn btn-default backColor text-uppercase">

							VER PRODUCTO <span class="fa fa-chevron-right"></span>

							</button>

						</a>

					</div>

				</div>

			</li>

		</ul>

		</ol>

		<!--=====================================
		FLECHAS
		======================================-->

		<div class="flechas" id="retroceder"><span class="fa fa-chevron-left"></span></div>
		<div class="flechas" id="avanzar"><span class="fa fa-chevron-right"></span></div>

	</div>

</div>
